* , *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainContainer{
    /*max-width: 1800px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/****** NAVBAR ******/
.mainNav{
    width: 100vw;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1976D2 -2.19%, #2196F3 -2.18%, #2521F3 101.05%, #2196F3 101.06%);
    color: white;
    padding-left: 40px;
}
.logoLink, .link, .cart_link{
    text-decoration: none;
    color: white;
    /*transform: 1s;*/
}
.link:hover, .cart_link:hover{
    color: lightgray;
}
.link, .cart_link{    
    padding: .2rem 1rem;
}
.cart_link{
    background-color: #8BC34A;
    margin-right: 1rem;
    border-radius: 25px;
    font-weight: bold;
}

.navLogo{
    background-color: #8BC34A;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid #2521F3;
    padding: 0rem .6rem;
    border-radius: 20px;
}
.logoLink{
    font-family: fantasy;
    color: #2521F3;
}
.navLinks{
    font-size: 1.2em;
    display: flex;
}

/****** Landingpage ******/
.home{
    flex-grow: 1;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/img/House.jpg");
    /*background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/calvin/img/House.jpg");*/
    background-size: cover;
    background-position: 0 -1100px;
}
.home_content{
    height: 80vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}
.home_text{
    width: 553px;
    font-family: sans-serif;
    font-size: 1.4rem;
    color: lightgray;
    position: relative;
    top: 40px;
    padding-left: 20px;
}

.home_header{
    align-items: flex-end;
    justify-content: unset;
    position: relative;
    top: -80px;
    padding-right: 20px;
}

.home h1{
    color: lightgray;
    font-size: 4rem;
    padding: 10px 30px;
    margin: 0;
    align-items: baseline;
}
.home h2{
    color: lightgray;
    font-size: 2rem;
    padding: 0 30px;
    margin: 0;
    text-align: right;
}

.help_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.help_btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 220px;
    border-radius: 15px;
    background-color: #8BC34A;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/****** SHOP ******/
.shop_main{
    height: 100vh;
    background: rgb(231, 231, 2390);
}

.shop_header{
    text-align: center;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_frame{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(245, 245, 245, 1);
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 1px 1px lightgray;
    height: 250px;
    width: 180px;
    padding: 0px 20px 10px 20px;
    margin: 20px;
    height: fit-content;
    overflow: hidden;
}
.product_frame *{
    margin: 5px;
}

.product_img{
    margin: 20px;
    width: 120px;
}

.product_details{
    position: absolute;
    margin: auto;
    padding: 10%;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    background: green;
}

/****** Cart ******/
.cartitem{
    display: flex;
    /*width: 100vw;*/
    align-items: center;
}
.cartitem p{
    width: 150px;
    margin: 30px;
}

.cartitem img{
    height: 70px;
    width: 70px;
}

.cartitem input{
    font-size: 20px;
    width: 40px;
}

/****** XXX ******/